@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
*{
    font-family:'Poppins',sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}
body{
    color: #fff;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 8%;
    background:#01003f; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    
}

.logo{
    font-size: 25px;
    color: #fff;
    font-weight: 600;
}
.navbar a{
    font-size: 20px;
    color: #fff;
    font-weight: 500;
    margin: 0 20px;
    transition: .3s;
}
.navbar a:hover,
.navbar a.active{
    color:#42c1e8;
}
.btn{
    padding: 10px 28px;
    background: #42c1e8;
    border: 2px solid #42c1e8;
    border-radius: 6px;
    font-size: 16px;
    color: #01003f;
    letter-spacing: 1px;
    font-weight: 600;
}
.section1{
     margin-top: 109px;
    margin-left: 10px; 
    display: flex;


}
.section1 span{
    display:flex;
    height: 550px;
    width: 700px;
    background-image: linear-gradient(rgba(0,0,0,.1),rgba(0,0,0)),url(../pictures/slope.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    margin-top: 20px;
    outline:  #42c1e8;
}
.nav--hidden{
    transform: translateY( -120px);
    transition: 1s;
}
.pose {
    color: #000;
    width: 600px;
    background-color: rgba(0,0,0,0.1);
    border-radius: 10px;
    padding: 20px;
    height: 270px;
    margin-top: 50px;
}
.pose h3{
    color:#01003f;
}
button{
    padding: 10px 28px;
    background: #42c1e8;
    border: 2px solid #42c1e8;
    border-radius: 6px;
    font-size: 16px;
    color: #01003f;
    letter-spacing: 1px;
    font-weight: 600;
    margin-top: 20px;
    width: 200px;
    transition: 0.3s ease-in-out;
}
button:hover{
    transition: .3s;
    background-color: #01003f;
    color: #42c1e8;
    border:  2px solid #01003f;
    font-weight: bold;
    box-shadow:  0 0 10px #01003f;
    cursor: pointer;
}

/* .animate{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background:#01003f;
    animation: show-right 1s ease-out forwards;
    animation-delay:calc(.3s*var(--i)) ;
}

.animate.bg{
    animation: fade-in 1s ease-out forwards;
    animation-delay: 3.2s;

}
@keyframes show-right {
    100%{
        width: 0;
    }
}

@keyframes fade-in {
    100%{
        opacity: 0;
    }
} */
.wrapper{
    display: block;
    padding: 20px;
    margin-bottom: 70px;
}
a{
    text-decoration: none;
}

input {
    display: none;
}
.container {
    height: 45%;
    display: flex;
    transform-style: preserve-3d;
    align-items: center;
    flex-direction: column;
    margin-bottom: 40px;
    margin-right: 100px;
}
.cards {
    height: 100px;
    width: 90px;
    perspective: 1000px;
    transform-style:preserve-3d;
}
.cards label {
    position: absolute;
    width: 330px;
    left: 0;
    right: 0;
    margin: auto;
    cursor: pointer;
    transition: transform 0.55s ease;
    border-radius: 10px;
}
.cards .card{
    background-color: #ffffff;
    border-radius: 10px;
    padding: 30px;
}
.card .image img{
    border-radius: 5px;
    box-shadow: 15px 15px 40px rgba(0, 0, 0, .1);
    width: 100%;
    height: 150px;
    object-fit: cover;
}
#s1:checked~.cards #slide4,
#s2:checked~.cards #slide5,
#s3:checked~.cards #slide1,
#s4:checked~.cards #slide2,
#s5:checked~.cards #slide3 {
    box-shadow: 0 15px 35px 0 rgba(0, 0, 0, 0.1);
    transform: translate3d(-70%, 0, -220px);
    --current-color1: #ECEAED;
    --current-color2: #404457;
}

#s1:checked~.cards #slide5,
#s2:checked~.cards #slide1,
#s3:checked~.cards #slide2,
#s4:checked~.cards #slide3,
#s5:checked~.cards #slide4 {
    box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.1);
    transform: translate3d(-35%, 0, -120px);
    --current-color1: #ECEAED;
    --current-color2: #404457;
}

#s1:checked~.cards #slide1,
#s2:checked~.cards #slide2,
#s3:checked~.cards #slide3,
#s4:checked~.cards #slide4,
#s5:checked~.cards #slide5 {
    box-shadow: 0 25px 50px 0 rgba(0, 0, 0, 0.2);
    transform: translate3d(0, 0, 0);
    --current-color1: #fad00c;
    --current-color2: #ECEAED;
}

#s1:checked~.cards #slide2,
#s2:checked~.cards #slide3,
#s3:checked~.cards #slide4,
#s4:checked~.cards #slide5,
#s5:checked~.cards #slide1 {
    box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.1);
    transform: translate3d(35%, 0, -120px);
    --current-color1: #ECEAED;
    --current-color2: #404457;
}

#s1:checked~.cards #slide3,
#s2:checked~.cards #slide4,
#s3:checked~.cards #slide5,
#s4:checked~.cards #slide1,
#s5:checked~.cards #slide2 {
    box-shadow: 0 15px 35px 0 rgba(0, 0, 0, 0.1);
    transform: translate3d(70%, 0, -220px);
    --current-color1: #ECEAED;
    --current-color2: #404457;
}
.section2{
    margin-top: 130px;
    margin-left: 10px; 
    display: flex;
}
.section2 span{
    display:flex;
    height: 550px;
    width: 700px;
    background-image: linear-gradient(rgba(0,0,0,.1),rgba(0,0,0)),url(../pictures/slope.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    margin-top: 20px;
    outline:  #42c1e8;
}
.section_message{
    justify-content: center;
    position: relative;
    padding: 25px;
    width: 700px;
    height: 300px;
    background-color: #3311f4;
    border-radius: 20px;
    margin-top:20px;
    margin-left:300px;
    box-shadow: 0 0 20px #000;  
    align-items: center;
    display: flex;
}
.section_message p{
    font-size: 25px;
    text-shadow: 0 0 10px #000;
    text-rendering: geometricPrecision;
    animation: enlarge 2s infinite ease-in-out;
    transition: 1s;
}
.section_message span{
    color: #42c1e8;
    font-size: 30px;
    cursor: help;
}
@keyframes enlarge{
    25%{
        font-size: 27px;
    }
}
